/* o *(asteristico) serve pra marcar todos os elementos */
* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

  /* serve pra fazer as marcações de espaçamento pela borda,
  o padrão é pelo conteúdo filho */
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button:focus {
  transition: 1500;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: #c4c4c4;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.page-header {
  width: 100%;
  height: 3rem;

  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header .page-title {
  font-size: 1.8rem;
}

.main {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 1.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.main .navigation {
  width: 100%;
  height: 3rem;

  display: flex;
  justify-content: left;
  align-items: left;
}

.main .navigation .nav-list {
  width: 80%;
  height: 4rem;

  margin: 0 auto;
  /* background-color: #fff; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.main .navigation .nav-list li {
  list-style: none;
}

.main .navigation .nav-list li * {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  background-color: #c4c4c4;

  border: 0;

  transition: 5;
}

.main .navigation .nav-list li *:hover {
  font-size: 1.3rem;
}

.main .navigation .nav-list li *:focus {
  outline: none;
}

.main fieldset {
  width: 100%;

  border: 0;

  margin-top: 2rem;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main #developers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;

}

.main #developers h2 {
  margin-top: 5rem;

  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  display: block;
}

.main fieldset .bills {
  width: 90%;
  height: 80%;

  border: 0;
  border-radius: 0.8rem;

  background-color: #e5e5e5;

  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.main fieldset .bills .values {
  width: 100%;

  margin: 2rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
}

.main fieldset .bills .values label,
.main fieldset .bills .create-bill .create-bill-form label {
  height: 1.6rem;

  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main fieldset .bills .values input,
.main fieldset .bills .create-bill .create-bill-form input {
  width: 8rem;
  height: 1.8rem;

  background-color: #c4c4c4;

  font-size: 1.2rem;

  border: 0;
  border-radius: 0.4rem;

  padding-left: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main fieldset .bills .create-bill .create-bill-form {
  width: 100%;

  margin-top: 0.5rem;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.8rem;
}

.main fieldset .bills .create-bill .create-bill-form input {
  width: 8rem;
}

.main fieldset .bills .create-bill button {
  width: 18rem;
  height: 2.5rem;

  margin: 0 auto 2rem;

  background-color: #c4c4c4;

  font-size: 1.4rem;

  border: 0;
  border-radius: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main fieldset .options {
  width: 100%;
  height: 10rem;

  margin: 2rem;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px;
}

.main fieldset .options .buttons {
  width: 100%;
  height: 3rem;

  background-color: #ffffff;

  border: 0;
  border-radius: 0.8rem;

  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main fieldset .options .result {
  width: 100%;
  height: 13rem;

  background-color: #ffffff;

  border: 0;
  border-radius: 0.8rem;

  font-size: 2rem;
  color: #3b3737;

  display: flex;
  justify-content: center;
  align-items: center;
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 420px;
  max-width: 850px;
  margin: 1em auto;
}

#container {
  height: 450px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  min-width: 420px;
  max-width: 950px;
  width: 100%;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

@media(min-width: 600px){
  .main .navigation .nav-list {
    width: 100%;

    margin: 0 1rem;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media(min-width: 900px) {
  .page-header {
    height: 4rem;

    margin-top: 3rem;
    padding-left: 6rem;

    background-color: #e5e5e5;

    display: flex;
    justify-content: left;
    align-items: center;
  }

  .page-header .page-title {
    font-size: 2.2rem;
  }

  .main {
    padding-left: 3rem;
  }

  .main .navigation {
    padding-left: 2rem;

    display: flex;
    justify-content: left;
    align-items: center;
  }

  .main .navigation .nav-list {
    max-width: 65%;
  }

  .main .navigation .nav-list li * {
    font-size: 1.4rem;
  }

  .main .navigation .nav-list li *:hover {
    font-size: 1.6rem;
  }

  .main fieldset {
    flex-direction: row;
  }

  .main fieldset .bills {
    min-width: 38rem;
    height: 65vh;

    /* Barra de rolagem */
    overflow: auto;
  }

  .main fieldset .bills .values {
    width: 30rem;

    margin: 2rem 0;
    padding: 2rem 3rem;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
  }

  .main fieldset .bills .values label,
  .main fieldset .bills .create-bill .create-bill-form label {
    height: 2.5rem;

    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main fieldset .bills .values input,
  .main fieldset .bills .create-bill .create-bill-form input {
    width: 8rem;
    height: 2.5rem;

    background-color: #c4c4c4;

    font-size: 1.2rem;

    border: 0;
    border-radius: 0.4rem;

    padding-left: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main fieldset .bills .create-bill .create-bill-form {
    width: 30rem;

    padding: 2rem 3rem 0;
  }

  .main fieldset .bills .create-bill .create-bill-form input {
    width: 13rem;
  }

  .main fieldset .bills .create-bill button {
    height: 4rem;

    margin-top: 2rem;

    font-size: 1.6rem;
  }

  .main fieldset .options {
    min-width: 12rem;
    max-width: 17rem;
    height: 60vh;

    padding: 0;
    margin: 0 1rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main fieldset .options .buttons {
    height: 4rem;

    font-size: 1.6rem;
  }

  .main fieldset .options .result {
    height: 13rem;

    font-size: 2rem;
  }

  .highcharts-figure, .highcharts-data-table table {
    min-width: 800px;
    max-width: 850px;
    margin: 1em auto;
  }

  #container {
    height: 400px;
  }

  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    min-width: 800px;
    max-width: 1200px;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }
  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
}

@media (min-width: 1100px) {
  .main fieldset .bills {
    min-width: 50rem;
    max-width: 50rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
  }

  .main fieldset .bills .create-bill .create-bill-form {
    width: 25rem;
    margin-top: 2rem;
  
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
  }

  .main fieldset .bills .create-bill button {  
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  .main fieldset .options {

    margin-right: 3rem;
  }

  .main fieldset .bills {
    min-width: 55rem;
  }
}