:root{
    --cor-Branca : #ffff;
    --cor1 : rgb(75, 129, 72)  ;
    --cor2 : #F2F2F2;
    --cor3 : #47e91f  ;
    --cor4 :#f8f8f8  ;
    --cor5 : #006eff ; 
    --cor7 : #8ebd82;
    --cor8 : #3b3737;
}